# BotFather'dan olgan bot tokeningiz (masalan: 123456:ABC-DEF...)
BOT_TOKEN=8504326055:AAH4c3GxwBcX3TOjmwQN6qA5BMDLQfoCnj0

# @sizning_bot_username (openBot() tugmalari shu username'ga link beradi, @siz)
BOT_USERNAME=@shashkaArena_bot

# Server porti (Render o'zi PORT ni beradi, mahalliy test uchun 3000 qoldiring)
PORT=3000

# initData necha soniyagacha "yangi" hisoblanadi (xavfsizlik uchun)
INIT_DATA_MAX_AGE=86400
